<!DOCTYPE html>
<html>
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>
    <section>
      <h1>Name and Surname: <%=employee.name%> <%=employee.surname%></h1>
      <h2>ID: <%=employee.id%></h2>
      <h2>Salary: <%=employee.salary%></h2>
    </section>
  </body>
</html>
